@font-face {
    font-family: 'kenvector_future';
    src: url(assets/fonts/kenvector_future.ttf) format('truetype');
}

body {
    font-family: 'kenvector_future', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    background: #222;
}
canvas {
    display: block;
    margin: 0 auto;
    background: #202020;
}
