

input {
    padding: 10px;
    border: 4px solid #ffc107;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

#joinRoomContainer {
}

#playerList {
    list-style-type: none;
    padding: 0;
}

#playerList li {
    margin: 5px;
}

#joinForm {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    text-align: center;
    margin: 100px auto;
    width: 300px;
    box-shadow: 2px 4px 20px #ccc;
    padding: 30px;
    color: #fff;
    border: 8px dashed #d6d6d6;
}

button {
    background: #ccc;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}
